<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="bot-builder-auth-token" content="<%= authToken || "" %>" />
  <title>Bot Builder</title>
  <link rel="stylesheet" href="https://unpkg.com/blockly@11.2.1/blockly.min.css" />
</head>
<body>
  <script type="application/json" id="bb-auth-bootstrap"><%= JSON.stringify(authBootstrap || {}) %></script>
  <div id="app"></div>

  <script src="https://unpkg.com/blockly@11.2.1/blockly.min.js"></script>
  <script src="https://unpkg.com/blockly@11.2.1/blocks/loops.js"></script>
  <script src="https://unpkg.com/blockly@11.2.1/blocks/logic.js"></script>
  <script src="https://unpkg.com/blockly@11.2.1/blocks/math.js"></script>
  <script src="https://unpkg.com/blockly@11.2.1/blocks/variables.js"></script>
  <script src="https://unpkg.com/blockly@11.2.1/blocks/procedures.js"></script>
  <script src="https://unpkg.com/blockly@11.2.1/javascript.js"></script>
</body>
</html>
